html,body{
    margin: 0;
    padding: 0; 
}

body {
    font-family: "Comic Sans MS", cursive;
    font-weight: bold;  
    background-color: rgb(103, 207, 133);
    overflow: hidden
}

#wrapper{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    margin: 0;
    justify-content: center;
    align-items: center;
}


button {
    background-color: yellow;
    font-weight: bold;
    padding: 10px 15px;
    margin: 5vh;
    width: 10vw;
    height: 10vh;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#back {
    display: none;
    position: absolute;
    top: 2vh;
    left: 25vw;
    height: 10vh;
    width: 5vw;
    cursor: pointer;
}

#div_eco_round_up,
#livada,
#metrou {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    max-width: 90vw; 
    margin: 0 auto; 
    display: none;
}

.falling_apple{
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-name: fall1;
    animation-duration: 8s;
}

@keyframes fall1 {
  0%{
    transform: translate(0vw, 0vh);
    opacity: 100%;
  }  
  100%{
    transform: translate(0vw, 150vh);
    opacity: 100%;
  }
}

.no_apple{
    display: none;
}