html,body{
    margin: 0;
    padding: 0; 
}

body {
    font-family: "Comic Sans MS", cursive;
    font-weight: bold;  
    background-color: rgb(103, 207, 133);
    overflow: hidden
}

#wrapper, #wrapper2{
    position: absolute;
    top:0;
    left:0;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
}

#wrapper2{
    display: none;
    grid-template-columns: 1fr 3fr 1fr;
}

#b_roundup, #b_metrou, #b_livada {
    background-color: white;
    display: block;
    font-weight: bold;
    padding: 10px 15px 10px 15px;
    margin: 5vh;
    width: 10vw;
    height: 10vh;
    border-radius: 5px;
    cursor: pointer;
}

/* #back {
    display: none;
    position: absolute;
    top: 2vh;
    left: 25vw;
    height: 10vh;
    width: 5vw;
    cursor: pointer;
} */

#roundup, #livada, #metrou {
    grid-column: 2;
    display: none;
    padding: 0 10vw 0 10vw;
    width: auto;
    margin-top: 5vh;
    height: 95vh;
    text-align: center;
    overflow-y: auto;
}


.falling_apple{
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-name: fall1;
    animation-duration: 8s;
}

@keyframes fall1 {
  0%{
    transform: translate(0vw, 0vh);
    opacity: 100%;
  }  
  100%{
    transform: translate(0vw, 150vh);
    opacity: 100%;
  }
}

.no_apple{
    display: none;
}